@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

.options-select__item, .options-select__selected-billet, .main-block-options__arrow, .main-block-options__btn, .main-block-show__label, ._btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._btn {
  padding-top: 5px;
  /* Если меньше контейнера */
  padding-left: 75px;
  /* Если меньше контейнера */
  padding-right: 75px;
  padding-bottom: 5px;
  /* Если меньше контейнера */
  min-height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #00AA07;
  background-color: transparent;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 500;
  line-height: 157.1428571429%;
  letter-spacing: 0em;
  text-align: left;
  color: #016905;
}
@media (max-width: 1400px) {
  ._btn {
    padding-left: calc(25px + 50 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  ._btn {
    padding-right: calc(25px + 50 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  ._btn {
    min-height: calc(50px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  ._btn {
    font-size: calc(13px + 5 * ((100vw - 320px) / 1080));
  }
}
._btn::first-letter {
  text-transform: uppercase;
}
@media (any-hover: hover) {
  ._btn {
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s, color 0.2s ease 0s;
  }
  ._btn:hover {
    border-color: #016905;
    background-color: #016905;
    color: #fff;
  }
  ._btn:active {
    transform: translateY(2px);
  }
}

.field__form {
  flex: 1 1 100%;
}
.field__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 100%;
}
.field__label {
  margin-bottom: 5px;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 500;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
  color: #016905;
}
@media (max-width: 1400px) {
  .field__label {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1080));
  }
}
.field__input {
  width: 100%;
  /* Если меньше контейнера */
  height: 50px;
}
@media (max-width: 1400px) {
  .field__input {
    height: calc(40px + 10 * ((100vw - 320px) / 1080));
  }
}
.field__input_big {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .field__input_big {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1080));
  }
}
.field__input_big::-moz-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
  color: #D7D7D7;
}
.field__input_big:-ms-input-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
  color: #D7D7D7;
}
.field__input_big::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
  color: #D7D7D7;
}
@media (max-width: 1400px) {
  .field__input_big::-moz-placeholder {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1080));
  }
  .field__input_big:-ms-input-placeholder {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1080));
  }
  .field__input_big::placeholder {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1080));
  }
}
.field__input_little {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 14px;
  font-weight: 600;
  line-height: 142.8571428571%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .field__input_little {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1080));
  }
}
.field__input_little::-moz-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 14px;
  font-weight: 600;
  line-height: 142.8571428571%;
  letter-spacing: 0em;
  text-align: left;
  color: #D7D7D7;
}
.field__input_little:-ms-input-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 14px;
  font-weight: 600;
  line-height: 142.8571428571%;
  letter-spacing: 0em;
  text-align: left;
  color: #D7D7D7;
}
.field__input_little::placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 14px;
  font-weight: 600;
  line-height: 142.8571428571%;
  letter-spacing: 0em;
  text-align: left;
  color: #D7D7D7;
}
@media (max-width: 1400px) {
  .field__input_little::-moz-placeholder {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1080));
  }
  .field__input_little:-ms-input-placeholder {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1080));
  }
  .field__input_little::placeholder {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1080));
  }
}

body {
  background-color: #fff;
  font-family: "Montserrat";
  color: #222;
  font-size: 14px;
}
body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

._container {
  padding: 0px 15px 0px 15px;
  margin: 0px auto;
  max-width: 1400px;
}

.header__wrapper {
  width: 100%;
  /* Если меньше контейнера */
  min-height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: #fff;
}
@media (max-width: 1400px) {
  .header__wrapper {
    min-height: calc(75px + 20 * ((100vw - 320px) / 1080));
  }
}
.header__wrapper:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 600;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff;
}
.header__body {
  padding: 5px 0px;
  /* Если меньше контейнера */
  min-height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1400px) {
  .header__body {
    min-height: calc(75px + 20 * ((100vw - 320px) / 1080));
  }
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 700;
}
.header__logo-wrapper:not(:last-child) {
  margin-right: 15px;
}
.header__burger {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
@media (min-width: 768.2px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  width: 25px;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-in-out 0s;
  background-color: #016905;
}
.header__burger span:before, .header__burger span:after {
  content: "";
  width: 25px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.2s ease-in-out 0s;
  background-color: #016905;
}
.header__burger span:before {
  top: -8px;
}
.header__burger span:after {
  top: 8px;
}
.header__burger._active span {
  background-color: transparent;
}
.header__burger._active span:before {
  transform: rotate(45deg) translate(5px, 6px);
}
.header__burger._active span:after {
  transform: rotate(-45deg) translate(5px, -6px);
}
.header__logo {
  white-space: nowrap;
  /* Если меньше контейнера */
  font-size: 36px;
  font-weight: 700;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
  color: #00AA07;
}
@media (max-width: 1400px) {
  .header__logo {
    font-size: calc(26px + 10 * ((100vw - 320px) / 1080));
  }
}
.header__logo img {
  max-width: 100%;
}
@media (any-hover: hover) {
  .header__logo {
    transition: color 0.2s ease 0s;
  }
  .header__logo:hover {
    color: #016905;
  }
}
.header__actions {
  display: flex;
  align-items: center;
}
@media (min-width: 768.2px) {
  .header__menu {
    /* Если меньше контейнера */
    margin-right: 35px;
    position: relative;
    z-index: 700;
  }
}
@media (min-width: 768.2px) and (max-width: 1400px) {
  .header__menu {
    margin-right: calc(15px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (min-width: 768.2px) {
  .header__menu .navigation__list {
    display: none;
  }
}
@media (max-width: 768.2px) {
  .header__menu {
    /* Если меньше контейнера */
    padding-top: 97px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 200;
    overflow: auto;
    pointer-events: none;
    transition: left 0.3s ease 0s;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (max-width: 768.2px) and (max-width: 1400px) {
  .header__menu {
    padding-top: calc(77px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .header__menu._active {
    left: 0;
    pointer-events: auto;
  }
}
@media (max-width: 768.2px) and (any-hover: hover) {
  .header__menu::-webkit-scrollbar {
    width: 8px;
    box-shadow: inset 0px 0px 1px #cecece;
    background-color: #dbdbdb;
  }
  .header__menu::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 1px #cecece;
    background-color: #8a8a8a;
  }
  .header__menu::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
  }
}
.header-menu__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768.2px) {
  .header-menu__list {
    flex-direction: column;
  }
}
.header-menu__list-item {
  display: inline-flex;
}
@media (min-width: 768.2px) {
  .header-menu__list-item:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 40px;
    position: relative;
  }
}
@media (min-width: 768.2px) and (max-width: 1400px) {
  .header-menu__list-item:not(:last-child) {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (min-width: 768.2px) {
  .header-menu__list-item:not(:last-child):after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    /* Если меньше контейнера */
    right: -20px;
    background-color: #222;
  }
}
@media (min-width: 768.2px) and (max-width: 1400px) {
  .header-menu__list-item:not(:last-child):after {
    right: calc(-10px + -10 * ((100vw - 320px) / 1080));
  }
}
@media (min-width: 768.2px) {
  .header-menu__list-item._active-link {
    position: relative;
  }
  .header-menu__list-item._active-link:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #00AA07;
  }
  .header-menu__list-item._active-link .header-menu__list-link {
    font-weight: 600;
  }
}
@media (max-width: 768.2px) {
  .header-menu__list-item {
    width: 100%;
    position: relative;
  }
  .header-menu__list-item:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eeeeee;
  }
}
.header-menu__list-link {
  display: inline-flex;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 400;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
  color: #222;
}
@media (max-width: 1400px) {
  .header-menu__list-link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .header-menu__list-link {
    padding: 15px 15px;
    width: 100%;
    justify-content: center;
    font-size: 18px;
    text-align: center;
  }
}
@media (any-hover: hover) {
  .header-menu__list-link {
    transition: color 0.2s ease 0s;
  }
  .header-menu__list-link:hover {
    color: #00AA07;
  }
}

.header-dropdown__btn {
  min-width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 700;
  background-color: transparent;
}
.header-dropdown__body {
  /* Если меньше контейнера */
  gap: 10px;
  /* Если меньше контейнера */
  padding: 10px;
  margin-top: 10px;
  /* Если меньше контейнера */
  max-width: 300px;
  width: 100%;
  /* Если меньше контейнера */
  max-height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  position: absolute;
  right: 0;
  z-index: 700;
  overflow: auto;
  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
  border-radius: 4px;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1411764706), 0 3px 1px -2px rgba(0, 0, 0, 0.1215686275);
  background-color: #fff;
}
@media (max-width: 1400px) {
  .header-dropdown__body {
    gap: calc(0px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .header-dropdown__body {
    padding: calc(5px + 5 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .header-dropdown__body {
    max-width: calc(230px + 70 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .header-dropdown__body {
    max-height: calc(420px + 30 * ((100vw - 320px) / 1080));
  }
}
@media (max-height: 500.2px) {
  .header-dropdown__body {
    max-height: 200px;
  }
}
@media (any-hover: hover) {
  .header-dropdown__body::-webkit-scrollbar {
    width: 8px;
    box-shadow: inset 0px 0px 1px #cecece;
    background-color: #dbdbdb;
  }
  .header-dropdown__body::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 1px #cecece;
    background-color: #8a8a8a;
  }
  .header-dropdown__body::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
  }
}
.header-dropdown__body._active {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: auto;
}
.header-dropdown__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 4px;
  text-align: center;
}
@media (any-hover: hover) {
  .header-dropdown__link {
    transition: transform 0.2s ease 0s;
  }
  .header-dropdown__link:hover {
    transform: translateY(-5px);
  }
}
.header-dropdown__icon {
  /* Если меньше контейнера */
  width: 48px;
}
@media (max-width: 1400px) {
  .header-dropdown__icon {
    width: calc(34px + 14 * ((100vw - 320px) / 1080));
  }
}
.header-dropdown__icon img {
  max-width: 100%;
}
.header-dropdown__text {
  margin-top: 5px;
  /* Если меньше контейнера */
  max-width: 70px;
  max-height: 50px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Если меньше контейнера */
  font-size: 14px;
  color: #222;
}
@media (max-width: 1400px) {
  .header-dropdown__text {
    max-width: calc(50px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .header-dropdown__text {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1080));
  }
}

.footer__wrapper {
  background-color: #EFEFEF;
}
.footer__copy {
  border-top: 1px solid #D1D1D1;
}

.footer-main__body {
  padding: 15px 0px;
  /* Если меньше контейнера */
  min-height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1400px) {
  .footer-main__body {
    min-height: calc(65px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 480.2px) {
  .footer-main__body {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer-main__logo {
  white-space: nowrap;
  /* Если меньше контейнера */
  font-size: 36px;
  font-weight: 700;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
  color: #00AA07;
}
@media (max-width: 1400px) {
  .footer-main__logo {
    font-size: calc(26px + 10 * ((100vw - 320px) / 1080));
  }
}
.footer-main__logo img {
  max-width: 100%;
}
@media (min-width: 480.2px) {
  .footer-main__logo:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 480.2px) {
  .footer-main__logo:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (any-hover: hover) {
  .footer-main__logo {
    transition: color 0.2s ease 0s;
  }
  .footer-main__logo:hover {
    color: #016905;
  }
}
.footer-menu__list {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu__list-item:not(:last-child) {
  /* Если меньше контейнера */
  margin-right: 40px;
  position: relative;
}
@media (max-width: 1400px) {
  .footer-menu__list-item:not(:last-child) {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 1080));
  }
}
.footer-menu__list-item:not(:last-child):after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  /* Если меньше контейнера */
  right: -20px;
  background-color: #222;
}
@media (max-width: 1400px) {
  .footer-menu__list-item:not(:last-child):after {
    right: calc(-10px + -10 * ((100vw - 320px) / 1080));
  }
}
.footer-menu__list-item._active-link {
  position: relative;
}
.footer-menu__list-item._active-link:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #00AA07;
}
.footer-menu__list-item._active-link .footer-menu__list-link {
  font-weight: 600;
}
.footer-menu__list-link {
  display: flex;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 400;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
  color: #222;
}
@media (max-width: 1400px) {
  .footer-menu__list-link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1080));
  }
}
@media (any-hover: hover) {
  .footer-menu__list-link {
    transition: color 0.2s ease 0s;
  }
  .footer-menu__list-link:hover {
    color: #00AA07;
  }
}

.footer-copy__body {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.footer-copy__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 121.4285714286%;
  letter-spacing: 0em;
  text-align: left;
  color: #9A9A9A;
}

.navigation__body {
  /* Если меньше контейнера */
  padding-top: 35px;
}
@media (max-width: 1400px) {
  .navigation__body {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 1080));
  }
}
.navigation__list {
  /* Если меньше контейнера */
  -moz-column-gap: 30px;
       column-gap: 30px;
  /* Если меньше контейнера */
  row-gap: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1400px) {
  .navigation__list {
    -moz-column-gap: calc(15px + 15 * ((100vw - 320px) / 1080));
         column-gap: calc(15px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .navigation__list {
    row-gap: calc(10px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .navigation__list {
    flex-direction: column;
  }
}
@media (min-width: 768.2px) {
  .navigation__list-item {
    display: inline-flex;
  }
  .navigation__list-item._active-link {
    position: relative;
  }
  .navigation__list-item._active-link:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #00AA07;
  }
  .navigation__list-item._active-link .navigation__list-link {
    font-weight: 600;
  }
}
@media (max-width: 768.2px) {
  .navigation__list-item {
    width: 100%;
    position: relative;
  }
  .navigation__list-item._active-link .navigation__list-link {
    font-weight: 600;
  }
  .navigation__list-item:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eeeeee;
  }
}
@media (any-hover: hover) {
  .navigation__list-item .navigation__list-link:hover {
    color: #00AA07;
  }
}
.navigation__list-link {
  display: inline-flex;
  /* Если меньше контейнера */
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: left;
  color: #222;
}
@media (max-width: 1400px) {
  .navigation__list-link {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .navigation__list-link {
    padding: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 122.2222222222%;
  }
}
@media (any-hover: hover) {
  .navigation__list-link {
    transition: color 0.2s ease 0s;
  }
}

.main-block__body {
  /* Если меньше контейнера */
  padding-top: 45px;
}
@media (max-width: 1400px) {
  .main-block__body {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 1080));
  }
}
.main-block__show {
  /* Если меньше контейнера */
  padding-top: 30px;
  /* Если меньше контейнера */
  padding-bottom: 30px;
}
@media (max-width: 1400px) {
  .main-block__show {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block__show {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
.main-block-search__inner {
  /* Если меньше контейнера */
  padding-top: 20px;
  /* Если меньше контейнера */
  padding-left: 15px;
  /* Если меньше контейнера */
  padding-right: 15px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  /* Если меньше контейнера */
  min-height: 80px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
@media (max-width: 1400px) {
  .main-block-search__inner {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-search__inner {
    padding-left: calc(10px + 5 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-search__inner {
    padding-right: calc(10px + 5 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-search__inner {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-search__inner {
    min-height: calc(60px + 20 * ((100vw - 320px) / 1080));
  }
}
.main-block-search__input {
  padding-right: 15px;
}
.main-block-search__btn {
  /* Если меньше контейнера */
  padding-left: 40px;
  /* Если меньше контейнера */
  padding-right: 40px;
  /* Если меньше контейнера */
  min-height: 50px;
  border: none;
  background-color: #00AA07;
  color: #fff;
}
@media (max-width: 1400px) {
  .main-block-search__btn {
    padding-left: calc(25px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-search__btn {
    padding-right: calc(25px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-search__btn {
    min-height: calc(40px + 10 * ((100vw - 320px) / 1080));
  }
}
.main-block-search__btn:disabled {
  pointer-events: none;
  background-color: #88C895;
}

.main-block-show__checkbox {
  display: none;
}
.main-block-show__checkbox:checked + .main-block-show__label:before {
  background-color: #00AA07;
}
.main-block-show__checkbox:checked + .main-block-show__label:after {
  /* Если меньше контейнера */
  left: 40px;
}
@media (max-width: 1400px) {
  .main-block-show__checkbox:checked + .main-block-show__label:after {
    left: calc(30px + 10 * ((100vw - 320px) / 1080));
  }
}
.main-block-show__label {
  /* Если меньше контейнера */
  padding-left: 85px;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .main-block-show__label {
    padding-left: calc(65px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-show__label {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1080));
  }
}
.main-block-show__label:before {
  content: "";
  /* Если меньше контейнера */
  width: 70px;
  /* Если меньше контейнера */
  height: 30px;
  position: absolute;
  left: 0;
  border-radius: 20px;
  transition: background-color 0.2s ease 0s;
  background-color: #E5E5E5;
}
@media (max-width: 1400px) {
  .main-block-show__label:before {
    width: calc(50px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-show__label:before {
    height: calc(22px + 8 * ((100vw - 320px) / 1080));
  }
}
.main-block-show__label:after {
  content: "";
  /* Если меньше контейнера */
  width: 25px;
  /* Если меньше контейнера */
  height: 25px;
  position: absolute;
  left: 5px;
  border-radius: 50%;
  transition: left 0.2s ease 0s;
  background-color: #fff;
}
@media (max-width: 1400px) {
  .main-block-show__label:after {
    width: calc(15px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-show__label:after {
    height: calc(15px + 10 * ((100vw - 320px) / 1080));
  }
}

.main-block-options__body {
  /* Если меньше контейнера */
  padding-top: 25px;
  /* Если меньше контейнера */
  padding-left: 30px;
  /* Если меньше контейнера */
  padding-right: 30px;
  /* Если меньше контейнера */
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #E5E5E5;
}
@media (max-width: 1400px) {
  .main-block-options__body {
    padding-top: calc(10px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-options__body {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-options__body {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-options__body {
    padding-bottom: calc(10px + 15 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) {
  .main-block-options__body {
    flex-direction: column;
  }
  .main-block-options__body .main-block-search__btn {
    /* Если меньше контейнера */
    padding-left: 85px;
    /* Если меньше контейнера */
    padding-right: 85px;
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .main-block-options__body .main-block-search__btn {
    padding-left: calc(55px + 30 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .main-block-options__body .main-block-search__btn {
    padding-right: calc(55px + 30 * ((100vw - 320px) / 1080));
  }
}
.main-block-options__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200.2px) {
  .main-block-options__items {
    /* Если меньше контейнера */
    margin-bottom: 30px;
    /* Если меньше контейнера */
    row-gap: 30px;
    /* Если меньше контейнера */
    -moz-column-gap: 30px;
         column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .main-block-options__items {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .main-block-options__items {
    row-gap: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .main-block-options__items {
    -moz-column-gap: calc(20px + 10 * ((100vw - 320px) / 1080));
         column-gap: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 552.2px) {
  .main-block-options__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main-block-options__item {
  /* Если меньше контейнера */
  padding-left: 30px;
  /* Если меньше контейнера */
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1400px) {
  .main-block-options__item {
    padding-left: calc(10px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .main-block-options__item {
    padding-right: calc(10px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (min-width: 1200.2px) {
  .main-block-options__item {
    max-width: 260px;
  }
  .main-block-options__item:not(:last-child):after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #C9C9C9;
  }
}
@media (max-width: 1200.2px) {
  .main-block-options__item {
    padding-bottom: 10px;
  }
  .main-block-options__item:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #C9C9C9;
  }
}
@media (max-width: 552.2px) {
  .main-block-options__item:not(:last-child) {
    padding-bottom: 10px;
  }
  .main-block-options__item:not(:last-child):after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #C9C9C9;
  }
}
.main-block-options__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-block-options__btn {
  cursor: pointer;
  transition: color 0.2s ease 0s;
}
.main-block-options__btn._active .main-block-options__arrow {
  transform: rotate(180deg);
}
.main-block-options__arrow {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease 0s;
}
.main-block-options__input {
  width: 100%;
  height: 15px;
}

.options-select__selected {
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  min-height: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.options-select__selected-billet {
  padding: 3px 4px;
  min-width: 43px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  background-color: #00AA07;
  color: #fff;
}
@media (any-hover: hover) {
  .options-select__selected-billet {
    transition: background-color 0.2s ease 0s;
  }
  .options-select__selected-billet:hover {
    background-color: #0b880f;
  }
}
.options-select__selected-billet:before, .options-select__selected-billet:after {
  position: absolute;
  right: 8px;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: #fff;
}
.options-select__selected-billet:before {
  transform: rotate(45deg);
}
.options-select__selected-billet:after {
  transform: rotate(-45deg);
}
.options-select__selected-billet._hidden {
  display: none;
}
.options-select__selected-text._active {
  display: none;
}
.options-select__inner {
  padding: 10px 0px;
  max-height: 300px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 200;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
  background-color: #fff;
}
.options-select__inner._active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}
@media (any-hover: hover) {
  .options-select__inner::-webkit-scrollbar {
    width: 8px;
    box-shadow: inset 0px 0px 1px #cecece;
    background-color: #dbdbdb;
  }
  .options-select__inner::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 1px #cecece;
    background-color: #8a8a8a;
  }
  .options-select__inner::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
  }
}
.options-select__list {
  display: flex;
  flex-direction: column;
}
.options-select__item {
  padding: 10px 15px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: #016905;
}
.options-select__item._active {
  background-color: #e7fde8;
}
@media (any-hover: hover) {
  .options-select__item {
    transition: background-color 0.2s ease 0s;
  }
  .options-select__item:hover {
    background-color: #e7fde8;
  }
}
.catalog__body_pc {
  /* Если меньше контейнера */
  padding-top: 40px;
  /* Если меньше контейнера */
  padding-bottom: 100px;
  display: block;
}
@media (max-width: 1400px) {
  .catalog__body_pc {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog__body_pc {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .catalog__body_pc {
    display: none;
  }
}
.catalog__body_mobile {
  /* Если меньше контейнера */
  padding-top: 40px;
  /* Если меньше контейнера */
  padding-bottom: 100px;
  display: none;
}
@media (max-width: 1400px) {
  .catalog__body_mobile {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog__body_mobile {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .catalog__body_mobile {
    display: block;
  }
}
.catalog__column {
  /* Если меньше контейнера */
  row-gap: 30px;
  padding: 20px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background-color: #fff;
}
@media (max-width: 1400px) {
  .catalog__column {
    row-gap: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
.catalog__mobile {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.catalog-mobile__card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
.catalog-mobile__name {
  padding: 5px 0px 10px 0px;
  overflow: hidden;
  border-bottom: 1px solid #D7D7D7;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #016905;
}
.catalog-mobile__name:not(:last-child) {
  margin-bottom: 20px;
}
.catalog-mobile__text:not(:last-child) {
  margin-bottom: 20px;
}

.catalog-column__row {
  overflow: hidden;
}
.catalog-column__title {
  /* Если меньше контейнера */
  padding-left: 25px;
  /* Если меньше контейнера */
  padding-right: 25px;
  padding-bottom: 20px;
  white-space: nowrap;
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 600;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .catalog-column__title {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog-column__title {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog-column__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}
.catalog-column__list {
  border-top: 1px solid #EBEBEB;
}
.catalog-column__list-item {
  /* Если меньше контейнера */
  padding-top: 20px;
  /* Если меньше контейнера */
  padding-left: 25px;
  /* Если меньше контейнера */
  padding-right: 25px;
  /* Если меньше контейнера */
  padding-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 121.4285714286%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .catalog-column__list-item {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog-column__list-item {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog-column__list-item {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .catalog-column__list-item {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1080));
  }
}
.catalog-column__list-item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}
.catalog-column__list-icon:not(:last-child) {
  margin-right: 25px;
}
.catalog-column__list-link {
  color: #00AA07;
}
@media (any-hover: hover) {
  .catalog-column__list-link {
    position: relative;
    transition: color 0.2s ease 0s;
  }
  .catalog-column__list-link:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
    background-color: #016905;
  }
  .catalog-column__list-link:hover {
    color: #016905;
  }
  .catalog-column__list-link:hover:after {
    opacity: 1;
  }
}

.info-block__body {
  /* Если меньше контейнера */
  padding-top: 50px;
  /* Если меньше контейнера */
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1400px) {
  .info-block__body {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .info-block__body {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .info-block__body {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.info-block__text-block {
  flex: 0 1 50%;
}
@media (min-width: 768.2px) {
  .info-block__text-block:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 30px;
  }
}
@media (min-width: 768.2px) and (max-width: 1400px) {
  .info-block__text-block:not(:last-child) {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .info-block__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.info-block__image {
  flex: 0 1 50%;
}
.info-block__image img {
  max-width: 100%;
}
@media (max-width: 768.2px) {
  .info-block__image {
    margin: 20px 0px;
  }
}
.info-block__title {
  display: inline-block;
  /* Если меньше контейнера */
  font-size: 72px;
  font-weight: 700;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .info-block__title {
    font-size: calc(26px + 46 * ((100vw - 320px) / 1080));
  }
}
.info-block__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768.2px) {
  .info-block__title {
    text-align: center;
  }
}
.info-block__text {
  display: inline-block;
  /* Если меньше контейнера */
  font-size: 36px;
  font-weight: 400;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .info-block__text {
    font-size: calc(16px + 20 * ((100vw - 320px) / 1080));
  }
}
.info-block__text:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768.2px) {
  .info-block__text {
    text-align: center;
  }
}
.how__body {
  /* Если меньше контейнера */
  padding-top: 40px;
  /* Если меньше контейнера */
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1400px) {
  .how__body {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .how__body {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1080));
  }
}
.how__title {
  /* Если меньше контейнера */
  margin-bottom: 50px;
  display: inline-block;
  /* Если меньше контейнера */
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .how__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .how__title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .how__title {
    text-align: center;
  }
}
.how__inner {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 768.2px) {
  .how__inner {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768.2px) {
  .how__image {
    flex: 0 1 40%;
  }
  .how__image:not(:last-child) {
    /* Если меньше контейнера */
    margin-right: 30px;
  }
}
@media (min-width: 768.2px) and (max-width: 1400px) {
  .how__image:not(:last-child) {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .how__image {
    flex: 1 1 100%;
  }
  .how__image:not(:last-child) {
    /* Если меньше контейнера */
    margin-bottom: 30px;
  }
}
@media (max-width: 768.2px) and (max-width: 1400px) {
  .how__image:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1080));
  }
}
.how__image img {
  max-width: 100%;
}
.how__text-block {
  flex: 0 1 60%;
}
@media (max-width: 768.2px) {
  .how__text-block {
    flex: 1 1 100%;
  }
}
.how__text {
  /* Если меньше контейнера */
  font-size: 36px;
  font-weight: 400;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .how__text {
    font-size: calc(16px + 20 * ((100vw - 320px) / 1080));
  }
}

.about__body {
  /* Если меньше контейнера */
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 1400px) {
  .about__body {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) {
  .about__body {
    flex-direction: column;
    align-items: center;
  }
}
.about__image {
  flex: 0 1 34%;
}
@media (min-width: 1200.2px) {
  .about__image { /* Если меньше контейнера */
    padding-top: 30px;
  }
}
@media (min-width: 1200.2px) and (max-width: 1400px) {
  .about__image {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) {
  .about__image { /* Если меньше контейнера */
    max-width: 450px;
    text-align: center;
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .about__image {
    max-width: calc(250px + 200 * ((100vw - 320px) / 1080));
  }
}
.about__image img {
  max-width: 100%;
}
.about__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 66%;
}
@media (min-width: 1200.2px) {
  .about__text-block:not(:first-child) {
    /* Если меньше контейнера */
    margin-right: 30px;
  }
}
@media (min-width: 1200.2px) and (max-width: 1400px) {
  .about__text-block:not(:first-child) {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1200.2px) {
  .about__text-block:not(:first-child) {
    margin-top: 20px;
  }
}
.about__text {
  /* Если меньше контейнера */
  font-size: 36px;
  font-weight: 400;
  line-height: 133.3333333333%;
  letter-spacing: 0em;
  text-align: left;
  color: #434343;
}
@media (max-width: 1400px) {
  .about__text {
    font-size: calc(16px + 20 * ((100vw - 320px) / 1080));
  }
}
.about__btn:not(:first-child) {
  /* Если меньше контейнера */
  margin-top: 40px;
}
@media (max-width: 1400px) {
  .about__btn:not(:first-child) {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 1080));
  }
}

.how-block__body {
  /* Если меньше контейнера */
  padding-top: 120px;
  /* Если меньше контейнера */
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1400px) {
  .how-block__body {
    padding-top: calc(40px + 80 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .how-block__body {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 552.2px) {
  .how-block__body {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.how-block__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 50%;
}
@media (max-width: 552.2px) {
  .how-block__text-block {
    margin-top: 20px;
    align-items: center;
    flex: 0 1 100%;
  }
}
.how-block__title {
  max-width: 360px;
  display: inline-block;
  /* Если меньше контейнера */
  font-size: 24px;
  font-weight: 700;
  line-height: 120.8333333333%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .how-block__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1080));
  }
}
.how-block__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 552.2px) {
  .how-block__title {
    text-align: center;
  }
}
.how-block__text {
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 400;
  line-height: 122.2222222222%;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1400px) {
  .how-block__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 552.2px) {
  .how-block__text {
    text-align: center;
  }
}
.how-block__btn:not(:first-child) {
  margin-top: 20px;
}
.how-block__image {
  display: flex;
}
@media (max-width: 1200.2px) {
  .how-block__image {
    /* Если меньше контейнера */
    max-width: 450px;
    text-align: center;
  }
}
@media (max-width: 1200.2px) and (max-width: 1400px) {
  .how-block__image {
    max-width: calc(250px + 200 * ((100vw - 320px) / 1080));
  }
}
.how-block__image img {
  max-width: 100%;
}

.page {
  /* Если меньше контейнера */
  padding-top: 95px;
  flex: 1 1 auto;
}
@media (max-width: 1400px) {
  .page {
    padding-top: calc(75px + 20 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 768.2px) {
  .page__navigation {
    display: none;
  }
}