//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$containerPadding: 30;

:root {
  // БРЕЙКПОИНТЫ
  --header-mobile: 991.98px;

  // ЦВЕТА
  --color-white: #ffffff;
  --color-dark: #000000;

  --background-page: #ffffff;
  --font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
